main {
    margin-top: 60px!important;
}

footer {
    background-color: #294C60!important;
    color: whitesmoke!important;
}

body {
    font-family: 'Roboto'!important;
    background-color: whitesmoke!important;
}

a {
    text-decoration: none!important;
    display: inline!important;
    color: inherit!important;
}

table {
    text-wrap: nowrap!important;
}

.table-div {
    background-color: #E8EAEE;
    border-radius: 7px!important;
}

.nav-icon {
    font-weight: 570!important;
    color:  whitesmoke!important;
}

.nav-icon:hover {
    color:  #FFC49B!important;
}

nav{
    background-color: #294C60!important;
}

.nav-search {
    color: whitesmoke!important;
}

.nav-search:hover {
    color: whitesmoke!important;
    background-color: #001B2E!important;
}

.nav-cart {
    padding: 0.6rem!important;
    color: whitesmoke!important;
    background-color: #001B2E!important;
}

.nav-cart:hover {
    color: #001B2E!important;
    background-color: whitesmoke!important;
}

.page{
    margin-top: 70px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.store {    
    background-image: url(store1.jpg);
}

.cart {    
    background-image: url(cart1.jpg);
}

.page-cover {
    color: rgb(195, 225, 252);
    font-family: 'Playfair Display';
    padding: 5rem;
    background-color: rgba(69, 59, 47, 0.501)!important;
}

.page-cart {
    color: rgb(252, 240, 195);
}


.my {
    border: 1px double rgb(193, 213, 163);
    background-color: rgb(224, 192, 151)!important;
    padding: 10px;
    font-size: 15px;
    text-shadow: 1px 2px rgb(215, 205, 2);
}

.nav-logo {
    color: rgb(223, 223, 223);
    font-size: 25px;
    text-shadow: 1px 2px rgb(233, 229, 154);
    font-family: sans-serif;
}

.landing {
    background-image: url(bg.webp);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 90vh;
    overflow: hidden;
}

.landing-inner {
    width: 100%;
    height: 100%;
    background: linear-gradient(0deg, #050a0c, #00000000);
    z-index: 3;
}

.things {
    font-family: serif;
    color: whitesmoke;
    position: absolute;
    left: 0%;
    top: 0%;
    padding: 33vh 10vh 33vh 10vh;
    z-index: 10;
}

.landing-title {
    font-size: 100px;
    font-weight: 800;
}


.landing-btn {
    font-weight: 500!important;
    color: #FFC49B!important;
    border: 1px solid #FFC49B!important;
}
  
.landing-btn:hover {
    text-decoration: none!important;
    color: #294C60!important;
    background-color: #FFC49B!important;
}

.products-btn {
    font-weight: 500!important;
    color: whitesmoke!important;
    background-color: #3c6f62!important;
}

.products-btn:hover {
    text-decoration: none!important;
    background-color: #5DAC98!important;
}

.pd {
    background-color: #3c6f62!important;
}

.card-footer {
    color: #294C60!important;
}

.detail-card {
    background-color: #E8EAEE!important;
    color: #001B2E!important;
}

.p-price {
    font-weight: 600;
    font-family: 'Playfair Display'!important;
    color: #ECE4C1!important;
}

.p-detail-price {
    font-weight: 800;
    font-family: 'Merriweather';
    color: #5DAC98!important;
}

.p-cat {
    color: #FFC49B!important;
}

.p-detail-cat {
    color: #ff6a00!important;
}

.p-detail-name {
    font-family: 'Playfair Display';
    color: #001B2E!important;
    font-weight: 800!important;
}

.p-name {
    font-family: 'Playfair Display';
    color: whitesmoke!important;
    font-weight: 550!important; 
    font-size: x-large;
}

.cart-button {
    color: #FFC49B!important;
    border: 1px solid #FFC49B!important;
}

.cart-button:hover {
    text-decoration: none!important;
    color: #294C60!important;
    background-color: #FFC49B!important;
}
.cart-detail-button {
    /* padding: 10px!important; */
    color: #E8EAEE!important;
    background-color: #294C60!important;
}

.cart-detail-button:hover {
    text-decoration: none!important;
    color: #E8EAEE!important;
    background-color: #001B2E!important;
}

.cart-app-btn {
    color: #294C60!important;
    border: 1px solid #294C60!important;
}

.cart-app-btn:hover {
    color: whitesmoke!important;
    background-color: #294C60!important;
}

.small{
    font-size: 12px!important;
}

.cart-app-hdr {
    font-weight: 700;
    font-family: 'Playfair Display';
    color: #FFC49B!important;
    background-color: #5DAC98!important;
}

.cart-app-ftr {
    font-weight: 700;
    background-color: #E8EAEE!important;
}

.cart-app-p-name {
    font-family: 'Playfair Display';
}

.cart-empty {
    font-family: serif;
}

.accordion-button {
    background-color: #F1F6F9!important;
    font-weight: 570!important;
    color: #294C60!important;

}

.a-title {
    padding: 3vh 10px 1vh 10px;
    font-family: Poppins;
    color: whitesmoke;
    background: linear-gradient(0deg, #294C60, #00000000);
    border-radius: 0px 0px 10px 10px;
}

.cat-title {
    padding: 12vh 10px 1vh 10px;
    font-family: Poppins;
    color: whitesmoke;
    border-radius: 0 0 10px 10px;
    background: linear-gradient(0deg, #294C60, #00000000);
}


.cat-title-store {
    padding: 5vh 10px 1vh 10px;
    font-family: Poppins;
    color: #F5E6E1;
    border-radius: 0 0 5px 5px;
    background: linear-gradient(0deg, #294C60, #00000000);
}

.cat-item {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 10px;
    transition: transform .5s ease;
    box-shadow: 3px 3px 20px gray!important;
}

.cat-item-all {
    background-image: url(backg.jpg);
}

.cat-item-store {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    transition: transform .5s ease;
    border-radius: 5px;
}

.cat-item:hover {
    transform: scale(1.05);
}

.cat-item-store:hover {
    transform: scale(1.05);
}

.card-icon {
    font-size: 20px;
    margin-right: 10px;
}

.featured {
    background: radial-gradient(#e7fff9, #3c6f62);
}

.featured-name {
    font-family: serif;
    font-size: 70px;
    font-weight: 700;
    color: #001B2E;
}

.featured-btn {
    font-weight: 500!important;
    color: whitesmoke!important;
    background-color: #3c6f62!important;
}

.testimonial {
    border-radius: 10px;
    color: whitesmoke;
    background-color: #5DAC98;
    height: 100%;
    box-shadow: 0px 0px 15px gray!important;
}

.testimonial-p {
    font-family: 'Playfair Display';
    font-size: small;
}

.testimonial-icon {
    font-size: 40px;
    color: #FFC49B;
}

.testimonial-title {
    color: #001B2E;
    font-weight: 560;
}

.testimonial-img{
    padding: 3px;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    border: 3px solid #294C60;
}

.product-item {
    border-radius: 10px;
    transition: transform .5s ease;
    box-shadow: 1px 1px 20px gray!important;
}

.product-item:hover {
    box-shadow: 5px 5px 25px gray!important;
    transform: scale(1.05);
}

.product-img{
    border-radius: 10px 10px 0px 0px!important;
}

@media screen and (max-width: 810px) and (min-width: 641px) {
   #search{
    width: 150px;
   }
  }
  
