{% load static %}
{% if 'register' in request.path or 'login' in request.path or 'forgotPassword' in request.path %}
{% else %} 
    <nav class="main-nav navbar navbar-expand-md fixed-top">
        <div class="container-fluid">
            <a class="navbar-brand" href="{% url 'home'  %}">
                <div class="mx-2"><span class="my fw-bold">EC</span></div> 
                <!-- <img class="nav-logo" src="{% static 'store/ft_transparent.png'  %}" height="50px"/> -->
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse mt-3 mt-md-0" id="navbarCollapse">
                <ul class="navbar-nav me-auto">
                    <li class=" dropdown mb-3 mb-md-0">
                        <a class="nav-link dropdown-toggle show nav-icon" role="button" data-bs-toggle="dropdown" aria-expanded="true" href="#">
                        Category
                        </a>
                        <ul class="dropdown-menu" data-bs-popper="static">
                            <li class="mb-2"><a class="dropdown-item nav-icon" href="{% url 'store'  %}">All Products</a></li>
                            {% for category in links %}                  
                            <li class="mb-2"><a class="dropdown-item nav-icon" href="{{ category.get_url }}">{{ category.name }}</a></li>
                            {% endfor %}
                        </ul>
                    </li>     
                    <li class=" mb-2 mb-md-0">
                        <a class="nav-link nav-icon" href="{% url 'store'  %}">Store</a>
                    </li>
                </ul>
                <div class="row align-items-center  me-3">
                    <div class="col-12 col-md-5 mb-3 mb-md-1">
                        <form class="d-flex" action="{% url 'search'  %}" role="search" method="get">
                            <div class="input-group">
                                <input class="form-control" type="search" placeholder="Search" aria-label="Search" id="search" name="keyword">
                                <button class="nav-search btn border shadow-0" type="submit">
                                    <i class="fas fas fa-search" ></i>
                                </button>
                            </div>
                        </form>
                    </div>
                    <div class="col-4 col-md-2 ">
                        <a class="" href="{% url 'cart'  %}">
                            <div class="nav-cart nav-icon btn m-2 position-relative">
                                <i class="fas fa-shopping-cart m-1"></i> 
                                <span class="text-dark position-absolute top-0 start-100 translate-middle badge rounded-pill bg-light">
                                    {{ cart_count }}
                                </span>
                            </div>
                        </a>
                    </div>
                    {% if user.id is not None %}
                    <div class="col-8 col-md-5 ">
                        <div class="row align-items-center">
                            <div class="col-9 p-0">
                                <div class="d-lg-grid d-sm-flex gap-lg-0 align-items-center text-end">
                                    <div class="nav-tem small">
                                        Welcome, {{ user.first_name }}!
                                    </div>
                                    <div class="d-lg-none btn-group" role="group">
                                        <button id="dropdownId" type="button" class="btn-sm btn nav-icon dropdown-toggle" data-bs-toggle="dropdown" aria-haspopup="true"
                                                aria-expanded="false">
                                        </button>
                                        <div class="dropdown-menu dropdown-menu-end p-3" aria-labelledby="dropdownId">
                                            <div>
                                                <a href="{% url 'dashboard'  %}" class="nav-icon">
                                                    Dashboard 
                                                </a>
                                            </div>
                                            <div>
                                                <a href="{% url 'logout'  %}" class="nav-icon">
                                                    Logout
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="d-none d-lg-block">                            
                                        <div class=" mb-2 mb-md-0">
                                            <a href="{% url 'dashboard'  %}" class="nav-link nav-icon me-2">
                                                Dashboard 
                                            </a> |
                                            <a href="{% url 'logout'  %}" class="ms-2 nav-link nav-icon">
                                                Logout
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-3 p-sm-0 p-lg-2 justify-content-center">
                                <img class="pro-pic" src="{% static 'photos/profile.jpg'  %}" class="img-fluid" alt="image desc">
                            </div>
                        </div>
                    </div>
                    {% else %}
                    <div class="col-8 col-md-5 ">
                        <div class=" mb-2 mb-md-0">
                            <a href="{% url 'login'  %}" class="nav-link nav-icon me-2">
                                Sign In
                            </a> |
                            <a href="{% url 'register'  %}" class="nav-link nav-icon m-1">
                                Register
                            </a>
                        </div>
                    </div>
                    {% endif %}     
                </div>
        </div>
    </nav>
{% endif %}
